html, body {
    width: 100%;
    margin: 0;
    background-color: white;
    text-align: center;
}
/* colors */
.orange {color:#FD9E41;}
.deep {color:#303551;}
.white {color: white;}
.line-height {
    line-height: 2;
}
.gap {
    margin: 3rem;
}

/* div */
#welcome-section, #about {
    height: 36rem;
    border: 1px solid black;
    background-color: #1e2233;
    color: white;
}
#welcome-section{
    padding-top: 0px;
    margin-top: 0px;
    display: block;
    height: 100vh;
}
#projects, #contact {
    height: auto;
    background-color: #303551;
}
.color{
    background-color: #1e2233;
    color: white;
}
.navbar-shadow {
    box-shadow: 4px 4px 4px black ;
}

/* a-href */
a {
    color: white;
}a:hover, a:focus a:visited {
    color:#FD9E41;
}

hr {
    width: 10rem;
    margin-top: 0px;
    margin-bottom: 2px;
    border: 0;
    border-top: 1px solid rgb(255, 255, 255);
}
.img1 {
    height: 10rem;
}
.cursor {
    cursor: pointer;
}
.chat {
    border: .1px solid #FD9E41;
}
.margin-top {
    margin-top:1rem;
}
.my-justify {
    justify-content: flex-end;
}
.my-align{
    align-items: center;
}
.media {
    height: 5rem;
    align-items: center;
    justify-content: center;
}
.footer {
    width: 50%;
}
a.project-ref {
    text-decoration: none;
}

@media only screen and (max-width : 450px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
    h1{
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.2rem;
    }
    p{
        font-size: 1rem;
    }
    .footer {
        width: 80%;
    }
    #about {
        height: auto;
    }

}